body{
margin:0;
font-family: Arial, Helvetica, sans-serif;
background:#e6b6be;
text-align:center;
}


.titulo{
font-size:60px;
margin-top:40px;
}


.grid{
width:80%;
margin:40px auto;
display:grid;
grid-template-columns: repeat(3,1fr);
gap:30px;
}


.card{
background:#e9e6e7;
padding:30px;
border-radius:20px;
box-shadow:0 8px 20px rgba(0,0,0,0.15);
cursor:pointer;
transition:0.3s;
}
.card:hover{ transform:scale(1.05); }


.ancho{ grid-column: span 1; }


.final{
font-size:50px;
margin:80px 0;
}


.galeria{ padding:40px; }
.oculto{ display:none; }


.fotos{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
margin:30px 0;
}


.fotos img{
width:250px;
height:250px;
object-fit:cover;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
}